#okvir{
    width: 500px;
    height: 500px;
    border: solid black 4px;
    position: relative;
    margin: 0 auto;
    display: flex;
}

#kocka{
    width: 50px;
    height: 50px;
    position: absolute;
    background: blue;
}

#kocka-zelena{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 250px;
    margin-left: 100px;
    background: green;
}

#kocka-crvena{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 250px;
    margin-left: 350px;
    background: red;
}